<mat-card>
  <mat-card-header>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div id="canvas_container" #canvasContainer>
      <canvas #canvas></canvas>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onSizeUp()">SIZE UP</button>
    <button mat-button (click)="onSizeDown()">SIZE DOWN</button>
  </mat-card-actions>
</mat-card>
