<mat-card>
  <div [ngClass]="state.name" class="cover"></div>
  <mat-card-header>
    <mat-card-title>{{ state.titleName }}</mat-card-title>
    <mat-card-subtitle>{{ state.subTitleName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-progress-bar *ngIf="state.name === 'pending'"
                    color="warn"
                    mat-card-image
                    mode="buffer"
                    [value]="state.progress"></mat-progress-bar>
  <mat-card-content>
    <div>
      <input type="file"
             style="display: none"
             accept="image/*"
             #inputImgFileSystem>
      <button color="accent"
              disabled
              mat-raised-button>CAMERA</button>
      <div class="app-img-to-data--btn-divider"></div>
      <button color="accent"
              mat-raised-button
              (click)="onChooseImage(); inputImgFileSystem.click()">GALLERY</button>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            [disabled]="state.name === 'pending'"
            (click)="readPicture()">READ DATA</button>
  </mat-card-actions>
</mat-card>
