:host {
  ::ng-deep {

    .pending.cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99999;
      opacity: .1;
      background-color: rgba(255, 255, 255, 1);
    }

    mat-card {

      mat-progress-bar.mat-progress-bar {
        width: auto;
      }
    }

    mat-card-content {
      display: flex;
      justify-content: center;
      align-items: center;

      div.app-img-to-data--btn-divider {
        display: inline-block;
        padding: 5px;
      }

      button[color="accent"] {
        padding: 16px;
      }
    }
  }
}
